@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.header-info-container {
    width: 100%;
    background-color: #3e4261;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
    height: 80px;
    position: relative;
}

.header-info {
    width: 1200px;
    height: 80px;
    position: relative;
    margin: 0 auto;
}

.header-menu-container {
    display: flex;
}

.header-info-logo {
    width: 96px;
    font-family: "Nanum Gothic";
    font-size: 20px;
    font-weight: 590;
    font-style: normal;
    font-stretch: normal;
    color: rgba(255, 255, 255, 0.87);
    position: absolute;
    left: 51px;
}

.header-info-login-info span {
    font-family: "Nanum Gothic";
    font-size: 15px;
    font-weight: 590;
    font-style: normal;
    font-stretch: normal;
    color: rgba(255, 255, 255, 0.87);
}

.header-info-login-info {
    width: 100%;
    height: 80px;
    padding-top: 31px;
    text-align: center;
}

.header-info-logout {
    /*margin-top: 30px;*/
}

.header-info-logout > a {
    text-decoration: none;
    color: #AFB1C5;
}

.header-info-logout > a:hover {
    text-decoration: none;
    /*color: #9ea0b2;*/
    color: #fff;
}

.header-info span {
    margin-top: 29px;
}

.header-menu {
    height: 132px;
    cursor: pointer;
    width: 1180px;
    margin: 0 auto;
}

/*.header-btn:first-child {*/
/*width: calc(14.285714285714285% - 2px);*/
/*}*/

.header-btn {
    padding-top: 19px;
    width: calc(14.285714285714285% - 1px);
    height: 132px;
    float: left;
    position: relative;
    text-align: center;
}

.header-btn:hover {
    background: rgba(50, 50, 50, 0.1);
}


.header-btn img {
    padding-top: 10px;
    width: 57px;
}

.header-menu-separator {
    width: 1px;
    margin-top: 23px;
    height: 85px;
    object-fit: contain;
    background-color: #d5d5d5;
    float: left;
}

.header-btn-title {
    font-family: "Nanum Gothic";
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: rgba(66, 66, 66, 0.87);
    position: absolute;
    bottom: 23px;
}
.header-btn.active .header-btn-title{
    color: #ed5565;
}
.category-nav {

}

.left-menu-container {

}

